body {
	background-color: whitesmoke;
	font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
	font font-size: 20px;
}

.container1{
	text-align: center;
	margin: auto;
	display: block;
	margin-bottom: 100px;
}

.container2{
	text-align: center;
	margin-bottom: 15px;
}

.unamebtntxt{
	font-size: 20px;
	margin-right: 10px;
}

.unamebtn{
	margin-right: 10px;
}

.pswdbtntxt{
	font-size: 20px;
	margin-right: 10px;
}

.pswdbtn{
	margin-right: 10px;
}

.container{
	text-align: center;
}

.loginbtn{
	margin-left: 15em;
}
